:root {
  --color-light: #f3f3f3;
  --color-dark: #212121;
  --size-font: var(--unit-width);
  --size-container: var(--size-container-ideal);
  --container-padding: 3em;
  --section-padding: 12em;
  --gap-l: 3em;
  --gap: 1.5em;
  --color-border: #eee;
  --color-light-tint: white;
  --header-padding: 12em;
  --color-primary: #0089cf;
  --nav-bar-height: 7.5em;
  --grow: .25em;
  --gap-eyebrow: 2.5em;
  --section-padding-half: 6em;
  --section-padding-three-quaters: 9em;
  --greyed-out: #919191;
  --color-black: #0089cf;
  --border-radius-s: .5em;
  --color-dark-tint: #191919;
  --border-radius-l: 1.5em;
  --border-radius-m: 1em;
  --size-container-max: 1920px;
  --border-radius: .5em;
  --gap-xl: 4.5em;
  --color-white: white;
  --gap-s: 1em;
  --vh-in-px: 8px;
  --vh: var(--vh-in-px);
  --unit-width: 16px;
  --size-container-ideal: 1440px;
  --size-container-min: 992px;
  --color-dark-tint-hover: #292929;
  --color-light-tint-hover: #e7e7e7;
  --color-primary-dark: #0089cf;
  --color-primary-light: #d5fce3;
  --color-secondary: #c35fff;
  --pixel: 3em;
}